<title>Namecoin.cz</title>
<h1>Namecoin.cz</h1>
<h2>Persistant Nodes</h2>
<h3>Livenet Nodes</h3>
<ul>
<li><code><b>46.28.108.91 (live01.namecoin.cz)</b></code> - namecore</li>
</ul>
<h3>Testnet Nodes</h3>
<ul>
<li><code><b>46.28.108.91 (test01.namecoin.cz)</b></code> - namecore</li>
<li><code>5.135.186.82 (nmctest.net)</code></li>
</ul>
<h3>Regtest Nodes - Experimental</h3>
<ul>
<li><code><b>46.28.108.91 (reg01.namecoin.cz)</b></code> - namecore</li>
</ul>
<hr>
<p><b>Ondrej Sika</b> &lt;<a href="mailto:ondrej@ondrejsika.com">ondrej@ondrejsika.com</a>&gt;
| <a href="https://ondrejsika.com">ondrejsika.com</a>
| <a href="https://bitcoinblog.cz">bitcoinblog.cz</a>
</p>

